*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.float-left{
  float:left;
}

body{
  background-color: lightgrey;
}

.container{
  width: 99%;
  height: 100vh;
  margin: 10px;
  background-color: white;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

header{
  width: 100%;
  height: 15%;
  background-color: yellow;
}
aside.left-col{
  width: 15%;
  height: 500px;
  background-color: pink;
}
.mainbox{
  width: calc(100% - 30%);
  height: 800px;
  background-color: violet;
}
main .right-col{
  width: 15%;
  height: 500px;
  background-color: pink;
}
.topbox{
  width:100%;
  height: 33%;
  background-color: purple;
}
.botbox{
  width:100%;
  height: 33%;
  background-color: purple;
}
footer{
  width: 100%;
  height: 10%;
  background-color: lightblue;
}
